name: "Build and Test for specified platform"

on:
  # workflow_call is a required field of the "on" property,
  # when intending to use the workflow as a reusable workflow
  workflow_call:
    inputs:
      os:
        required: true
        type: string

env:
  SOLUTION_PATH: "RetroEmu.sln"
  DOTNET_VERSION: "8.0.x"

jobs:
  tests:
    runs-on: ${{ inputs.os }}
    
    strategy:
      matrix:
        project:
          - tests/RetroEmu.GB.Tests/RetroEmu.GB.Tests.csproj
          - tests/RetroEmu.GB.Blargg.Tests/RetroEmu.GB.Blargg.Tests.csproj
          - tests/RetroEmu.GB.GBMicro.Tests/RetroEmu.GB.GBMicro.Tests.csproj

    name: "${{ matrix.project }} on ${{ inputs.os }}"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: '1'

      - name: "Setup .NET"
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          cache: 'true'
          cache-dependency-path: '**/packages.lock.json'

      - name: "Restore"
        run: dotnet restore ${{ env.SOLUTION_PATH }}
          
      - name: "Build"
        run: dotnet build ${{ env.SOLUTION_PATH }} --no-restore --configuration Release

      - name: "Run Tests"
        run: dotnet test ${{ matrix.project }} --no-build --configuration Release
        continue-on-error: true
