name: "Create release MacOS"

on:
  # workflow_call is a required field of the "on" property,
  # when intending to use the workflow as a reusable workflow
  workflow_call:
    inputs:
      SOLUTION_PATH:
        required: true
        type: string
      PROJECT_PATH:
        required: true
        type: string
      DOTNET_VERSION:
        required: true
        type: string
      APPLICATION_TARGET_NAME:
        required: true
        type: string
      APPLICATION_VERSION:
        required: true
        type: string
    secrets:
      APPLE_ID:
        required: true
      APPLE_DEVELOPER_NAME:
        required: true
      APPLE_DEVELOPER_TEAMID:
        required: true
      APPLE_APP_SPECIFIC_PASSWORD:
        required: true
      APPLE_KEYCHAIN_PASSWORD:
        required: true
      MACOS_CERTIFICATE_BASE64:
        required: true
      MACOS_CERTIFICATE_PASSWORD:
        required: true
      MACOS_CERTIFICATE_NAME:
        required: true

jobs:
  release:
    runs-on: macos-latest
    
    strategy:
      matrix:
        runtime:
          - osx-arm64
          - osx-x64
    
    env:
      APPLICATION_NAME: "${{ inputs.APPLICATION_TARGET_NAME }}-${{ inputs.APPLICATION_VERSION }}-${{ matrix.runtime }}"
      PUBLISH_DIR: publish/${{ matrix.runtime }}
      APPLICATION_BUNDLE_DIR: publish/${{ matrix.runtime }}/${{ inputs.APPLICATION_TARGET_NAME }}.app
      
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: '1'

      - name: "Setup .NET"
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.DOTNET_VERSION }}
          cache: 'true'
          cache-dependency-path: '**/packages.lock.json'

      - name: "Restore"
        run: dotnet restore ${{ inputs.SOLUTION_PATH }}

      - name: "Publish NativeAOT executable"
        run: |
          dotnet publish ${{ inputs.PROJECT_PATH }} \
            -c Release \
            -r ${{ matrix.runtime }} \
            -o $PUBLISH_DIR \
            /p:PublishAot=true \
            /p:SelfContained=true \
            /p:InvariantGlobalization=true \
            /p:PublishTrimmed=true \
            /p:TrimMode=full \
            /p:StripSymbols=true \
            /p:DebugType=none \
            /p:DebugSymbols=false
      
      - name: "Show publish directory"
        run: |
          ls -la $PUBLISH_DIR

      - name: "Import and Set-Up Certificate"
        env:
          APPLE_KEYCHAIN_PASSWORD: ${{ secrets.APPLE_KEYCHAIN_PASSWORD }}
          MACOS_CERTIFICATE_BASE64: ${{ secrets.MACOS_CERTIFICATE_BASE64 }}
          MACOS_CERTIFICATE_PASSWORD: ${{ secrets.MACOS_CERTIFICATE_PASSWORD }}
          MACOS_CERTIFICATE_NAME: ${{ secrets.MACOS_CERTIFICATE_NAME }}
        run: |
          echo $MACOS_CERTIFICATE_BASE64 | base64 --decode > macos-certificate.p12
          
          security create-keychain -p "$APPLE_KEYCHAIN_PASSWORD" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "$APPLE_KEYCHAIN_PASSWORD" build.keychain
          
          security import macos-certificate.p12 -k build.keychain -P "$MACOS_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$APPLE_KEYCHAIN_PASSWORD" build.keychain
          
      - name: "Create and Sign Application Bundle"
        env:
          MACOS_CERTIFICATE_NAME: ${{ secrets.MACOS_CERTIFICATE_NAME }}
        run: |
          mkdir -p $APPLICATION_BUNDLE_DIR/Contents/MacOS/
          
          cp $PUBLISH_DIR/${{ inputs.APPLICATION_TARGET_NAME }} $APPLICATION_BUNDLE_DIR/Contents/MacOS/
          cp $PUBLISH_DIR/appsettings.json $APPLICATION_BUNDLE_DIR/Contents/MacOS/ 
          cp $PUBLISH_DIR/*.dylib $APPLICATION_BUNDLE_DIR/Contents/MacOS/

          cat > $APPLICATION_BUNDLE_DIR/Contents/Info.plist <<EOF
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
          "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
            <dict>
              <key>CFBundleIdentifier</key><string>com.henningtandberg.RetroEmu</string>
              <key>CFBundleName</key><string>$APPLICATION_NAME</string>
              <key>CFBundleExecutable</key><string>${{ inputs.APPLICATION_TARGET_NAME }}</string>
              <key>CFBundlePackageType</key><string>APPL</string>
              <key>CFBundleVersion</key><string>${{ inputs.APPLICATION_VERSION }}</string>
            </dict>
          </plist>
          EOF
          
          for lib in $APPLICATION_BUNDLE_DIR/Contents/MacOS/*.dylib; do
            codesign --force --sign "$MACOS_CERTIFICATE_NAME" "$lib"
          done
          
          codesign --force --deep --sign "$MACOS_CERTIFICATE_NAME" \
          "$APPLICATION_BUNDLE_DIR/Contents/MacOS/${{ inputs.APPLICATION_TARGET_NAME }}"
          
          codesign --force --deep --options runtime \
          --sign "$MACOS_CERTIFICATE_NAME" \
          "$APPLICATION_BUNDLE_DIR"
          
          codesign --verify --deep --strict --verbose=4 "$APPLICATION_BUNDLE_DIR"
#          spctl -a -vv "$APPLICATION_BUNDLE_DIR"
          
      - name: "Create and Sign DMG"
        env:
          MACOS_CERTIFICATE_NAME: ${{ secrets.MACOS_CERTIFICATE_NAME }}
        run: |
          DMG=$PUBLISH_DIR/${{ inputs.APPLICATION_TARGET_NAME }}.dmg
          hdiutil create $DMG -volname "${{ inputs.APPLICATION_TARGET_NAME }}" -srcfolder $APPLICATION_BUNDLE_DIR -ov -format UDZO
          sha256sum $DMG > $DMG.sha256
          codesign ---force --verify --verbose --sign "$MACOS_CERTIFICATE_NAME" $DMG
      
      - name: "Notorize Application"
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_DEVELOPER_TEAMID: ${{ secrets.APPLE_DEVELOPER_TEAMID }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
        run: |
          SUBMISSION=$(xcrun notarytool submit "$PUBLISH_DIR/$APPLICATION_NAME.dmg" \
            --apple-id "$APPLE_ID" \
            --team-id "$APPLE_DEVELOPER_TEAMID" \
            --password "$APPLE_APP_SPECIFIC_PASSWORD" \
            --output-format json)
  
          ID=$(echo "$SUBMISSION" | jq -r '.id')
          
          spctl -a -vv -t install $PUBLISH_DIR/$APPLICATION_NAME.dmg
          
      #- name: "Upload Release Assets"
      #  run: |
      #   DO A ZIP HERE FIRST!
      #    gh release upload ${{ github.event.release.tag_name }} $PUBLISH_DIR/$APPLICATION_NAME.dmg
      #    gh release upload ${{ github.event.release.tag_name }} $PUBLISH_DIR/$APPLICATION_NAME.dmg.sha256
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Default token has required permissions
  
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.APPLICATION_NAME }}
          path: |
            $PUBLISH_DIR/$APPLICATION_NAME.dmg
            $PUBLISH_DIR/$APPLICATION_NAME.dmg.sha256
