name: "Create release MacOS"

on:
  # workflow_call is a required field of the "on" property,
  # when intending to use the workflow as a reusable workflow
  workflow_call:
    inputs:
      SOLUTION_PATH:
        required: true
        type: string
      PROJECT_PATH:
        required: true
        type: string
      DOTNET_VERSION:
        required: true
        type: string
      APPLICATION_TARGET_NAME:
        required: true
        type: string
      APPLICATION_VERSION:
        required: true
        type: string
    secrets:
      APPLE_ID:
        required: true
      APPLE_DEVELOPER_NAME:
        required: true
      APPLE_DEVELOPER_TEAMID:
        required: true
      APPLE_APP_SPECIFIC_PASSWORD:
        required: true

jobs:
  release:
    runs-on: macos-latest
    
    strategy:
      matrix:
        runtime:
          - osx-arm64
          - osx-x64
    
    env:
      APPLICATION_NAME: "${{ inputs.APPLICATION_TARGET_NAME }}-${{ inputs.APPLICATION_VERSION }}-${{ matrix.runtime }}"
      PUBLISH_DIR: publish/${{ matrix.runtime }}
      APPLICATION_BUNDLE_DIR: publish/${{ matrix.runtime }}/${{ inputs.APPLICATION_TARGET_NAME }}.app
      
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: '1'

      - name: "Setup .NET"
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.DOTNET_VERSION }}
          cache: 'true'
          cache-dependency-path: '**/packages.lock.json'

      - name: "Restore"
        run: dotnet restore ${{ inputs.SOLUTION_PATH }}

      - name: "Publish NativeAOT executable"
        run: |
          dotnet publish ${{ inputs.PROJECT_PATH }} \
            -c Release \
            -r ${{ matrix.runtime }} \
            -o $PUBLISH_DIR \
            /p:PublishAot=true \
            /p:SelfContained=true \
            /p:InvariantGlobalization=true \
            /p:PublishTrimmed=true \
            /p:TrimMode=full \
            /p:StripSymbols=true \
            /p:DebugType=none \
            /p:DebugSymbols=false
      
      - name: "Show publish directory"
        run: |
          ls -la $PUBLISH_DIR
          
      - name: "Create Application Bundle"
        run: |
          mkdir -p $APPLICATION_BUNDLE_DIR/Contents/MacOS/
          
          cp $PUBLISH_DIR/${{ inputs.APPLICATION_TARGET_NAME }} $APPLICATION_BUNDLE_DIR/Contents/MacOS/
          cp $PUBLISH_DIR/appsettings.json $APPLICATION_BUNDLE_DIR/Contents/MacOS/ 
          cp $PUBLISH_DIR/*.dylib $APPLICATION_BUNDLE_DIR/Contents/MacOS/

          cat > $APPLICATION_BUNDLE_DIR/Contents/Info.plist <<EOF
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
          "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
            <dict>
              <key>CFBundleName</key><string>$APPLICATION_NAME</string>
              <key>CFBundleExecutable</key><string>${{ inputs.APPLICATION_TARGET_NAME }}</string>
              <key>CFBundlePackageType</key><string>APPL</string>
              <key>CFBundleVersion</key><string>${{ inputs.APPLICATION_VERSION }}</string>
            </dict>
          </plist>
          EOF
          
          # SHA256 checksum for the executable
          sha256sum $APPLICATION_BUNDLE_DIR/Contents/MacOS/${{ inputs.APPLICATION_TARGET_NAME }} > \
          $APPLICATION_BUNDLE_DIR/Contents/MacOS/${{ inputs.APPLICATION_TARGET_NAME }}.sha256
      
      - name: "Sign Application Bundle"
        env:
          APPLE_DEVELOPER_NAME: ${{ secrets.APPLE_DEVELOPER_NAME }}
          APPLE_DEVELOPER_TEAMID: ${{ secrets.APPLE_DEVELOPER_TEAMID }}
        run: |
          codesign -s "$APPLE_DEVELOPER_NAME" $APPLICATION_BUNDLE_DIR
      
      - name: "Create DMG and checksum"
        run: |
          hdiutil create $PUBLISH_DIR/$APPLICATION_NAME.dmg -volname "$APPLICATION_NAME" -srcfolder $APPLICATION_BUNDLE_DIR -ov -format UDZO
          sha256sum $PUBLISH_DIR/$APPLICATION_NAME.dmg > $PUBLISH_DIR/$APPLICATION_NAME.dmg.sha256
      
      - name: "Submit DMG to Apple notarization"
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_DEVELOPER_TEAMID: ${{ secrets.APPLE_DEVELOPER_TEAMID }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
        run: |
          xcrun notarytool submit $PUBLISH_DIR/$APPLICATION_NAME.dmg \
            --apple-id $APPLE_ID \
            --team-id $APPLE_DEVELOPER_TEAMID \
            --password $APPLE_APP_SPECIFIC_PASSWORD \
            --wait
      
      - name: "Staple notarization ticket"
        run: |
          xcrun stapler staple $PUBLISH_DIR/$APPLICATION_NAME.dmg
          
      #- name: "Upload Release Assets"
      #  run: |
      #   DO A ZIP HERE FIRST!
      #    gh release upload ${{ github.event.release.tag_name }} $PUBLISH_DIR/$APPLICATION_NAME.dmg
      #    gh release upload ${{ github.event.release.tag_name }} $PUBLISH_DIR/$APPLICATION_NAME.dmg.sha256
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Default token has required permissions

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.APPLICATION_NAME }}
          path: |
            $PUBLISH_DIR/$APPLICATION_NAME.dmg
            $PUBLISH_DIR/$APPLICATION_NAME.dmg.sha256
