name: "Release on all platforms"

on:
  release:
    types: [published]

env:
  APPLICATION_TARGET_NAME: "RetroEmu"

jobs:
  macos-latest-release:
    uses: ./.github/workflows/release-macos.yml
    with:
      SOLUTION_PATH: "RetroEmu.sln"
      PROJECT_PATH: "src/RetroEmu/RetroEmu.csproj"
      DOTNET_VERSION: "8.0.x"
      APPLICATION_TARGET_NAME: $APPLICATION_TARGET_NAME
      APPLICATION_VERSION: ${{ github.event.release.tag_name }}
