name: "Release on all platforms"

on: push

#on:
#  release:
#    types: [published]

jobs:
  macos-latest-release:
    uses: ./.github/workflows/release-macos.yml
    with:
      SOLUTION_PATH: "RetroEmu.sln"
      PROJECT_PATH: "src/RetroEmu/RetroEmu.csproj"
      DOTNET_VERSION: "8.0.x"
      APPLICATION_TARGET_NAME: "RetroEmu"
      APPLICATION_VERSION: "0.0.1"
