name: "Release on all platforms"

on:
  release:
    types: [published]

env:
  SOLUTION_PATH: "RetroEmu.sln"
  PROJECT_PATH: "src/RetroEmu/RetroEmu.csproj"
  DOTNET_VERSION: "8.0.x"
  APPLICATION_NAME: "RetroEmu"
  APPLICATION_VERSION: ${{ github.event.release.tag_name }}

jobs:
  macos-latest-release:
    uses: ./.github/workflows/release-macos.yml
    with:
      SOLUTION_PATH: ${{ env.SOLUTION_PATH }}
      PROJECT_PATH: ${{ env.PROJECT_PATH }} 
      DOTNET_VERSION: ${{ env.DOTNET_VERSION }}
      APPLICATION_NAME: ${{ env.APPLICATION_NAME }}
      APPLICATION_VERSION: ${{ env.APPLICATION_VERSION }}
